server:
  port: 9080
  contextPath: /atomfeed-console
appConfigs:
-
   appName: OpenMRS
   dbUrl: jdbc:mysql://${OPENMRS_DB_HOST}/openmrs
   dbUser: ${OPENMRS_DB_USERNAME}
   dbPassword: ${OPENMRS_DB_PASSWORD}
-
   appName: OpenERP
   dbUrl: jdbc:postgresql://odoodb/odoo
   dbUser: ${ODOO_DB_USER}
   dbPassword: ${ODOO_DB_PASSWORD}
-
   appName: OpenELIS
   dbUrl: jdbc:postgresql://openelisdb/clinlims?currentSchema=clinlims
   dbUser: ${OPENELIS_DB_USER}
   dbPassword: ${OPENELIS_DB_PASSWORD}