[Unit]
Description=OpenMRS Server
After=network-online.target
After=network.service

[Service]
Type=forking
KillMode=none
GuessMainPID=no
RuntimeDirectory=openmrs
LogsDirectory=openmrs
User=bahmni
Group=bahmni
PIDFile=/var/run/openmrs/openmrs.pid
ExecStart=/opt/openmrs/bin/openmrs start
ExecStop=/opt/openmrs/bin/openmrs stop
ExecReload=/opt/openmrs/bin/openmrs restart

[Install]
WantedBy=multi-user.target
