[Unit]
Description=Bahmni PACS Integration Service
After=network-online.target
After=network.service

[Service]
Type=forking
KillMode=none
GuessMainPID=no
RuntimeDirectory=pacs-integration
LogsDirectory=pacs-integration
User=bahmni
Group=bahmni
PIDFile=/var/run/pacs-integration/pacs-integration.pid
ExecStart=/opt/pacs-integration/bin/pacs-integration start
ExecStop=/opt/pacs-integration/bin/pacs-integration stop
ExecReload=/opt/pacs-integration/bin/pacs-integration restart

[Install]
WantedBy=multi-user.target
