[Unit]
Description=Bahmni PACS Integration Service
After=network-online.target
After=network.service

[Service]
Type=forking
KillMode=none
GuessMainPID=no
User=bahmni
PIDFile=/var/run/pacs-integration/pacs-integration.pid
ExecStart=/etc/init.d/pacs-integration start
ExecStop=/etc/init.d/pacs-integration stop
ExecReload=/etc/init.d/pacs-integration restart

[Install]
WantedBy=multi-user.target
