[Unit]
Description=Bahmni Lab Service
After=network-online.target
After=network.service

[Service]
Type=forking
KillMode=none
GuessMainPID=no
User=bahmni
PIDFile=/var/run/bahmni-lab/bahmni-lab.pid
ExecStart=/etc/init.d/bahmni-lab start
ExecStop=/etc/init.d/bahmni-lab stop
ExecReload=/etc/init.d/bahmni-lab restart

[Install]
WantedBy=multi-user.target
