name: Build and Publish Proxy Image
on:
  push:
    branches:
      - master
    # paths:
    #   - 'bahmni-proxy/**'
    #   - '.github/workflows/proxy_image_build.yml'
env:
  BAHMNI_VERSION: 0.94

jobs:
  docker-build-publish:
    name: Docker Build & Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Docker Build and push
        uses: docker/build-push-action@v2
        with:
          context: bahmni-proxy/
          no-cache: true
          push: true
          tags: stavtnameh/proxy:${{env.BAHMNI_VERSION}}-${{github.run_number}},stavtnameh/proxy:latest

